@mixin style-text(
  $fontSize: 1em,
  $color: var(--black-color),
  $fontFamily: var(--primary-font),
) {
  text-align: center;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 1.2;
  color: $color;
}

.bigTitle {
  @include style-text(
    $fontSize: 3.2em,
    $color: var(--primary-color),
  );
}

.alternativeTitle {
  @include style-text(
    $fontSize: 1.4em,
    $fontFamily: var(--secondary-font),
  );
  font-weight: 100;
}

.mainTitle {
  @include style-text(
    $fontSize: 1.8em,
  );
  font-weight: 500;
}

.subtitle {
  @include style-text(
    $fontSize: 1rem,
  );
  font-weight: 500;
}