body {  
  font-size: 13px;
  
  @media (min-width: 576px) {
    font-size: 14.5px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
  
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 20rem; 

  @media(max-width: 320px) {
    display: block;
  }
}

main {
  padding: 0.63rem;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  letter-spacing: 0.0313rem;
}

input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 100%;
  cursor: pointer;

  &:checked {
    border: 1px solid var(--primary-color);
    background: radial-gradient(circle, rgba(255,255,255,1) 24%, rgba(0,102,204,1) 26%);
  }
}

input::-webkit-contacts-auto-fill-button {
  position: absolute;
  display: none !important;
  right: 0;
  visibility: hidden;
  pointer-events: none;
}