body {
  display: flex;
  justify-content: center;
  place-items: center;
  
  min-width: 20rem;
  min-height: 100vh;
  margin: 0;
  
  font-size: 16px;
  
  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
  
  @media screen and (max-width: 460px) {
    font-size: 12px;
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  letter-spacing: 0.0313rem;
}

input[type='radio'] {
  accent-color: var(--primary-color);
}

input::-webkit-contacts-auto-fill-button {
  position: absolute;
  display: none !important;
  right: 0;
  visibility: hidden;
  pointer-events: none;
}