.section4th {
  padding: 0 2px;

  .mainTitle {
    margin-bottom: 5rem;
  }

  .section4th__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5em;
  }

  .customButton {
    padding: 0 2.5em
  }
}