.boardingContainer {
  width: 100%;

  > div, form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 576px) {
    width: 37rem;
  }
}