.selectAddress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);

  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;

  background-color: #F7F7F7;

  .selectAddress_info {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
      line-height: 1;
      letter-spacing: 0.03rem;
    }

    .selectAddress_info_title {
      margin-bottom: 0.2rem;
      font-family: var(--primary-font);
      font-size: 1rem;
      font-weight: 500;
      color: var(--primary-color);
    }

    .selectAddress_info_subtitle {
      font-family: var(--secondary-font);
      font-size: 0.75rem;
      font-weight: 400;
      color: var(--black-color);
    }
  }
  
  .customButton {
    height: 2.5rem;
    padding: 0 1.5rem;
    margin: 0;
  }

  .selectAddress_remove {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.875rem;
    height: 1.875rem;
    margin: 0.5rem 0.3125rem;

    border-radius: 100%;
    border: 1px solid var(--primary-color);


    font-family: var(--secondary-font);
    font-size: 0.75rem;
    line-height: 26;

    color: var(--primary-color);
    cursor: pointer;

    &:hover {
      background: var(--primary-color);
      color: #f7f5f5;
    }

  }
}