.addressInput {
  width: 100%;
  position: relative;

  .addressInput_childs {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    div:nth-child(1) {
      width: 100%;
    }
    
    div:nth-child(2) {
      width: 100%;
    }
    
    @media( min-width: 480px) {
      flex-direction: row;
      
      div:nth-child(1) {
        width: 80%;
      }
      
      div:nth-child(2) {
        width: 20%;
      }
    }
  }

  .input-disabled .textInput:first-child{
    background: #edecec;
  }

  .input-disabled .textInput:first-child input{
    color: grey;
  }

  .addressInput_list {
    width: 100%;
    position: absolute;
  }
}