.addressInput {
  position: relative;
  width: 100%;

  @media (min-width: 480px) {
    width: 90%;
  }

  .addressInput_childs {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 1px;
      width: 80%;

      .textInput {
        margin: 0;
      }

      p {
        margin-top: 0.2rem;
        font-size: 0.6rem;
        text-decoration: underline;
        font-family: var(--secondary-font);
        color: var(--black-color);
        cursor: pointer;
      }
    }
    
    div:nth-child(2) {
      width: 20%;
      margin: 0 0 0 0.4rem ;
    }
    
  }

  .input-disabled .textInput:first-child{
    background: #edecec;
  }

  .input-disabled .textInput:first-child input{
    color: grey;
  }

  .addressInput_list {
    position: absolute;
    width: 100%;
    margin-top: 0.5rem;
    z-index: 100;
  }
}