.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 10.5em;
  margin: 0.625rem;
  padding: 1.5rem 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 5px;

  background: var(--white-color);

  p {
    margin: 0;
    text-align: center;
    line-height: 1;
  }

  .servicesCard_title {
    font-family: var(--primary-font);
    font-size: 2.1875rem;
    font-weight: 400;
  }

  .servicesCard_subtitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
  }

  img {
    width: 1.875rem;
    height: 1.875rem;
    margin: 0.9375rem 0;
  }

  .servicesCard_price {
    display: table;
    font-family: 'Gilroy-Bold', sans-serif;;
    font-size: 3.75rem;
    font-weight: 600;
    color: var(--primary-color);

    span {
      font-size: 0.9375rem;
      font-weight: 500;
    }

    span:first-child {
      display: table-cell;
      font-size: 1.5625rem;
      font-weight: 600;
      vertical-align: middle;
    }
  }

  .servicesCard_input {
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 1.25rem 0 0;
    border: 1px solid grey;
    background-color: var(--white-color);

    &:checked {
      padding: 0.5625rem;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: var(--white-color);
    }
  }
}